@(id: Int, bookForm: Form[Book])

@import helper._

@main("welcome") {
    
    <h1>Edit Book</h1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/books.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        
    @form(routes.BookApplication.updateBook(id)) {
        
        <fieldset>
        
            @inputText(bookForm("title"), '_label -> "Book title")    
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this book" class="btn primary"> or 
            <a href="@routes.BookApplication.showBookList(0,"title","desc","")" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.BookApplication.deleteBook(id), 'class -> "topRight") {
        <input type="submit" value="Delete this book" class="btn danger">
    }
    
    
}
