@(bookForm: Form[Book])

@import helper._

@main("welcome"){
    
    <h1>Add a book</h1>
    
    @form(routes.BookApplication.saveBook()) {
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/books.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
      
        <fieldset>
        
            @inputText(bookForm("title"), '_label -> "Book title")
            @inputText(bookForm("memo"), '_label -> "Book memo")            
            @textarea(bookForm("comment"), '_label -> "Book comment",'_rows -> 5)
            @textarea(bookForm("amazonLink"),'_label -> "Book amazon", '_rows -> 5)
            @select(
                field = bookForm("rating")
                  , options = options(("1" -> "1"), ("2" -> "2"), ("3" -> "3"))
                  )
            
             http://ermaster.sourceforge.net/update-site/http://ermaster.sourceforge.net/update-site/

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this book" class="btn primary"> or 
            @*<a href="@routes.BookApplication.showBooklist()" class="btn">Cancel</a>*@ 
        </div>        
        
    } 
}